@import 'base/variables';
@import 'efectos';

// CARDS CON MOVIMIENTO
.container-cards {
    width: 95%;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
    background: rgb(79, 79, 79);
    background: linear-gradient(180deg, rgba(79, 79, 79, 1) 0%, rgba(18, 4, 167, 1) 0%, rgba(48, 37, 42, 1) 67%, rgba(113, 15, 15, 1) 100%);
    @include bordeContainer(2rem);

}

.card-list {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));

}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
    width: 100%;
    padding: 2.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card_carrito {
    width: 100%;
    box-shadow: -1rem 0rem 1rem rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    justify-content: center;
    text-align: center;
    border-radius: 2rem;


    &:hover {
        box-shadow: -2rem 0rem 3rem #1d418a;

    }
}

.sombra {
    box-shadow: rem 0 1rem rgb(255, 255, 255);

}

.card-body {
    background-color: $rojonba;
}

.card_carrito .card_imagen__home {
    border-radius: 1rem 1rem 0 0;
    transition: .5s;

    &:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.08);
        border-radius: 1rem;
    }
}

.card_carrito .card-body {
    border-radius: 0 0 1rem 1rem;
}

.cuerpo {
    width: 100%;
    display: flex;
    background-color: blue;
    padding: 2rem;
    flex-direction: column;
}

.card:focus-within~.card,
.card:hover~.card {
    transform: translateX(50px);
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: -2px 0 30px $rojonba

}


// CARRITO

.carrito {
    display: grid; //compactar
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
    gap: 2rem;
    margin: 2rem 5px;
}

.comprar {
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
    padding: 2rem;
}

.card_comprar {
    width: 100%;
    padding: 2.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;

    &:hover {
        -webkit-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
        -moz-box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
        box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
    }
}



// CARDS NOTICIAS
.home__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    background-color: #ff8a00;
    margin-bottom: 4rem;
    gap: 1rem;
    @include bordeContainer(1.51rem)
}


.imagen__home {
    max-width: 100%;
    align-items: center;
    animation-duration: 2s;

    &:hover {
        -webkit-transform: scale(1.01);

    }
}




// ACORDION


.accordion-button {
    background-color: rgb(255, 0, 0);

}

.accordion {
    text-align: center;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: red;
}

.accordion-item {
    text-align: center;
    background-color: $rojonba;
    padding: 3rem 0;
}

.accordion-header {
    text-align: center;
}

.accordion-body {
    background-color: #ff8a00;
}

.accordion-body {
    background-color: #ff8a00;
}

.accordion-button:not(.collapsed) {
    background-color: blue;
    color: rgb(255, 0, 0);
}

.acortar {
    text-align: center;
    background-color: blue;
    border-radius: 6px;
}

.accordion-collapse {
    background-color: rgb(0, 0, 0);
}



.porfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(254, 209, 54, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}