@import 'base/mixin';
@import 'cards';



* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 70%;
}

@media (min-width: 600px) {
    html {
        box-sizing: border-box;
        font-size: 100%;
        font-family: sans-serif;

    }
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    background: rgb(20, 20, 20);
    background: linear-gradient(180deg, rgb(19, 19, 19) 0%, rgb(37, 37, 37) 53%, rgba(22, 40, 24, 1) 100%);

}

// GENERALES
.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

img {
    width: 100%;
}

// HOME
.secciones {
    width: 100%;
    background-color: #ff8a00;
    margin: 4rem 0;

}

.cartita {
    border: 1px solid white;
}

.seccion {
    padding: 2rem;

}

.img_home_menu {
    border: 1px solid white;
    width: 100%;
    transition: 2s;

    &:hover {
        border: 1px solid rgb(255, 0, 0);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        overflow: hidden;

    }
}







// NOTICIAS


.video {
    text-align: center;
    width: 100%;
    height: 315px;
}

.margin {
    margin: 0 5%;
}



// carousel


.img-carousel {
    width: 500px;
}

.carousel-inner {
    widows: 500px !important;
}



// caroujs
#promo {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.slider_equipos {
    margin:0 0;
}


.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100%;
        position: absolute;
        width: 50px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(350px * 14);
    }

    .slide {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .slider {

        &::before,
        &::after {
            display: none;
        }
    }
}


.img_promo {
    width: 100%;
    height: 100%;
}



// TIENDA CONTENIDO

.header_tienda {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 50vh;
}

.contenido_tienda {
    display: grid;
    grid-auto-flow: dense; 
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    gap: 2rem;
}

.tienda {
    padding: 2rem;
    background-color: blue;
}

.navegacion-tienda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 10%;

}

.navegacion-tienda li {
    list-style: none;

}

.nav-bg {
    width: 100%;
    background-color: #1d418a !important;
    padding: .2rem;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: #c70f2d !important;
    }
}



@media (min-width: 992px) {}

.enlace-tienda {
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

// EQUIPO
.equipo {
    width: 100%;
    margin-top: 3rem;
    background-color: #00000075;
    padding: 2rem;
}

.equipo_descripcion {
    display: grid;
    grid-auto-flow: dense; 
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    gap: 2rem;
}
.equipo_descripcion2{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    gap: 2rem
    
}

.imagen_descripcion {
    min-width: 100%;
    align-items: center;
    box-shadow: -5px 1rem 1.5rem 1rem rgba(0, 0, 0, 0.7);
    transition: 2s;
    border-radius: 1rem;

    &:hover {
        @include hoverscale(1.05)
    }
}

.descripcion_texto {
    align-self: center;
}



// COMPRAS
.compras {
    background-color: yellow;
    padding: 2rem;
    margin-top: 5%;
}


// HEADER

.home__header__bg {
    background-image: url(/img/bg_home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &:hover {
        background-color: black;
    }
}


//   EFECTOS
// SOMBRA HOVER
.sombreado {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 2s;

    &:hover {
        transition: 3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.657);

    }

}

// CONTAINER VIDEO
.homevideo {
    width: 100%;
    margin: 70px auto;
    background-color: #ff8a00;
    padding: 2rem;
    gap: 2rem;
    @include bordeContainer (2rem);

}


.video__nosotros {
    width: 100%;
    height: 415px;
    max-height: 100%;
    align-items: center;
    animation-duration: 2s;
}



// ACORDION

#accordionExample {
    margin-bottom: 2rem;
    width: 100%;

}


.carrousel-principal{
    width: 100%;
    height: 70vh;
}

