@import 'base/mixin';
@import 'cards';




header {
    width: 100%;
}

img {
    width: 100%;
}


// HEADER

.home__header__bg {
    background-image: url(../img/bg_home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &:hover {
        background-color: black;
    }
}

// SOMBRA HOVER
.sombreado {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 2s;

    &:hover {
        transition: 3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.657);

    }
}


