// TEXTO
@import 'header';
@import 'base/variables';
@import 'efectos';

p {
    font-size: 1.2rem;
}

a {
    list-style: none;
    text-decoration: none;
}

h2,
h3 {
    color: white;
    text-align: center;
}

.miniGrid {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.miniGrid li {
    list-style: none;
}

.talles {
    background-color: white;
    color: black;
    border: solid 2px black;
    font-weight: bold;
    margin-bottom: 2rem;

    &:hover {
        color: white;
        background-color: #e71442;
        cursor: pointer;
    }
}


// FUENTES
.titulo {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s;

    &:hover {
        @include hovercolor ($azulnba);
        @include hoverscale (1.1);
    }
}

.tituloh1 {
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-top: 40vh;
}

.parrafo {
    font-size: 0.9rem;
}

.titulo-cartas {
    color: white;
    padding-top: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 2s;

    &:hover {
        @include hoverscale (1.1)
    }
}

.container-cards .titulo-cartas {
    margin-top: 3rem;
}


.subtitulo_card {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $textoprincipal;
    transition: 1s;

    &:hover {
        @include hoverscale (1.1);
    }
}

.texto-card {
    color: $textoprincipal;
    font-size: 1rem;
    font-weight: 400;
}





// BOTONES

.boton {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: .375rem 2rem;
    font-size: 1rem;
    border-radius: .30rem;
    text-transform: uppercase;
    border: solid 1px darken($color: #1f418b, $amount: 20%);
}


.boton-comprar {
    background-color: #1f418b;
    border-radius: 4px;

    &:hover {
        color: white;
        background: #c70f2d;
    }
}



// TIENDA
.descripcion_texto .titulo {
    text-transform: uppercase;
    font-family: $fuentepricipal;
    font-weight: bold;
    transition: 1s;

    &:hover {
        @include hovercolor ($azulnba);
        @include hoverscale (1.1);
    }
}

.parrafo_container {
    color: $textoprincipal;

}







// FOOTER
.footer_contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.icono-footer {
    margin: 0;
    border: 2px yellow solid;
    padding: 0;
}

.icon-tabler {}



svg {
    &:hover {
        stroke: yellow;
    }
}


.carrousel-carrito {
    width: 100%;
    margin: 0;
    height: 100;
}


.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-areas: "izquierda centro derecha";
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 2rem;
    }

    .contenido-principal {
        grid-area: centro;
    }

    .compra-1 {
        grid-area: izquierda;
    }
}

.btn-lg2 {
    font-size: .8rem;
    background-color: rgba(158, 156, 156, 0.287);
    border: 1px solid rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .4rem;


    &:hover {
        background-color: $azulnba;
    }
}

.btn-comprar {
    background-color: green;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: .4rem;
    border: 1px solid rgb(255, 255, 255);

    &:hover {
        background-color: rgb(37, 37, 37);
    }
}


// CONTACTO
.texto-contacto{
    color: $textoprincipal;
    font-weight: bold;
    font-size: 1rem;
}